@import '../../../styles/utils.scss';

.header {
  .header-content {
    height: 5rem;
    width: 1400px;
    margin: 0 auto; // ì¤ì ì ë ¬
    padding-left: 3rem;
    padding-right: 3rem;

    // ë´ë¶ ìì´í ì¸ë¡ ì¤ì ì ë ¬
    display: flex;
    align-items: center;

    // ë°ìí ë ì´ìì
    @include media('<wide') {
      width: 100%;
    }
    @include media('<medium') {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .left {
      // ì¢ì¸¡ ë´ì©
      margin-right: auto;
    }
    .brand {
      // ë¡ê³ 
      color: white;
      font-size: 1.5rem;
      font-weight: 600;
    }

    .right {
      // ì°ì¸¡ ë´ì©
      margin-left: auto;
    }
  }
}
