@import '../../../styles/utils.scss';

.PostActionButtons {
  margin-right: -0.4rem;
  margin-top: -2rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  @include media("<medium") {
    margin-bottom: 0.5rem;
  }
  .btn {
    font-size: 0.875rem;
    color: #868e96;
    font-weight: 500;
    padding: 0.125rem 0.5rem;
    cursor: pointer;
    &:hover {
      color: #845ef7;
    }
  }
}
